@charset "UTF-8";
:root {
    --corA:#2B2D42;
    --corB: #8D99AE;
    --corC: #EDF2F4;
    --corD: #D80032;
    --corE: #EF233C;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--corA);
}

h1#title {
    position: absolute;
    left: 10px;
    top: 20px;

    color: var(--corC);
    background-color: var(--corE);

    padding: 10px;
    width: 230px;
    
    border: 2px solid var(--corC);
    border-radius:20px 20px 0px 20px;
    
    text-shadow: 5px 3px 1px var(--corD);
    box-shadow: 5px 5px 1px var(--corD);

    font-family: Consolas, monospace;
    font-size: 2.2em;
    text-align: center;
}

main {
    background-color: var(--corE);

    width: 90%;
    height: 90vh;

    margin: auto;
    margin-top: 10vh;
}

div#menu {
    position: relative;
    top: 7%;
    background-color: var(--corC);

    width: 60%;
    height: 80%;
    max-width: 700px;
    padding: 1em;

    margin: auto;
    margin-top: 10px;

    font-family: Consolas, monospace;
    font-size: 1.2em;
}

div#game {
    width: 60%;
    height: 80%;
    max-width: 700px;
    padding: 1em;
    display: none;
    background-color: white;
    margin: auto;
    position: relative;
    top: 7%;
    background-color: var(--corC);
}
div#game > p {
    margin-top: 10%;
    margin-bottom: 50px;
    font-size: 3em;
    font-family: Consolas, monospace;
}

div#game > input{
    font-size: 2em;
    width: 80%;
}

button#start {
    color: white;
    background-color: green;
    border-style: none;
    padding: 10px 20px;
    box-shadow: 0px 9px 0px darkgreen;
    border-radius: 15px;
    font-size: 1em;
    font-family: Consolas, monospace;
}

button#start:active {
    background-color: green;
    transform: translateY(5px);
    box-shadow: 0px 3px 0px darkgreen;
}

footer {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 5px;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

.justify {
    text-align: justify;
}
.center {
    text-align: center;
}

span#destaque {
    font-size: 1em;
    color: red;
}

@media (max-width:750px){
    div#menu {
        width: 70vw;
    }
    div#game {
        width: 70vw;
        width: 80%;
    }
}